* {
    margin:0;
    padding:0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    min-height: 100vh;
    background: #000;
    overflow: hidden;
}
.glowing{
    position: relative;
    min-width: 750px;
    height: 750px;
    margin: -150px;
    transform-origin: right;
    animation: colorChange 5s linear infinite;
}
.glowing:nth-child(even){
    transform-origin: left;
}
@keyframes colorChange{
    0%{
        filter: hue-rotate(0deg);
        transform:rotate(0deg);
    }
    
    100%{
        filter: hue-rotate(360deg);
        transform:rotate(360deg);
    }
}
.glowing span {
    position: absolute;
    top: calc(80px * var(--i));
    left: calc(80px * var(--i));
    bottom: calc(80px * var(--i));
    right: calc(80px * var(--i));
}
.glowing span:before{
    content: '';
    position: absolute;
    top: 50%;
    left: -8px;
    width: 15px;
    height: 15px;
    background: #f00;
    border-radius: 50%;
}
.glowing span:nth-child(3n+1):before{
    background:rgba(134,255,0,1);
    box-shadow: 0 0 20px rgba(134,255,0,1),
                0 0 40px rgba(134,255,0,1),
                0 0 60px rgba(134,255,0,1),
                0 0 80px rgba(134,255,0,1),
                0 0 0 8px rgba(134,255,0,.1),
}   
.glowing span:nth-child(3n+2):before{
    background:rgba(255, 214,0,1);
    box-shadow: 0 0 20px rgba(255, 214,0,1),
                0 0 40px rgba(255, 214,0,1),
                0 0 60px rgba(255, 214,0,1),
                0 0 80px rgba(255, 214,0,1),
               0 0 0 8px rgba(255, 214,0,.1),
}
.glowing span:nth-child(3n+3):before{
    background:rgba(0, 226,255,1);
    box-shadow: 0 0 20px rgba(0, 226,255,1),
                0 0 40px rgba(0, 226,255,1),
                0 0 60px rgba(0, 226,255,1),
                0 0 80px rgba(0, 226,255,1),
                0 0 0 8px rgba(0, 226,255,.1),
}
.glowing span:nth-child(3n+1){
    animation: animate 10s alternate infinite;
}
.glowing span:nth-child(3n+2){
    animation: animate-reverse 3s alternate infinite;
}
.glowing span:nth-child(3n+3){
    animation: animate 8s alternate infinite;
}
@keyframes animate
{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes animate-reverse
{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.container{
    position: absolute;
    top: 15%;
    left: 20%;
    text-align: center;
}
.heading{
    font-size: 8em;
    color: white;
    font-family: 'Baloo Tamma 2', Bold;
}
.btn{
    width: 450px;
    height: 140px;
    background:#738ae6;
    border-radius:40px 40px 40px 40px;
    display: inline-block;
}
.button{
    position: fixed;
        margin-top: 10%;
    text-decoration: solid;

}
.abc{
    width: 100px;
    height: 100px;
}
.switch{
    position: fixed;
    width: 110px;
    height: 56px;
    bottom: 12%;
    right: 48%;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:blue;
    transition: .4s;
    border-radius: 35px;
    background: inset 0 0 700px rgba(255, 255, 255, 0.5);
}
.switch input{display:none}

.slider:before{
    position: absolute;
    content: "";
    height: 50px;
    width: 50px;
    left: 5px;
    bottom: 3.5px;
    background-color: white;
    transition: .4s;
    border-radius: 50px;
}
input:checked  + .slider{
    background: rgba(65, 157, 180, 0.4);
    
    /* background-color: rgba(255, 255, 255, 0.5); */

}

input:checked {
  background: rgba(65, 157, 180, 0.4);
  filter: blur(2px);
}

input:checked + .slider:before{
    transform:translate(50px);
}